<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jahresbilanz - SPIEGEL ONLINE</title>

    <link rel="stylesheet" type="text/css" href="../../../../../_common/css/spon_basic.css" />
    <link rel="stylesheet" type="text/css" href="../../../../../_common/css/tabNavi.css" />
    <link rel="stylesheet" type="text/css" href="../../../../../_common/js/jquery/jquery.qtip-2.0.1.css" />
    <link rel="stylesheet" type="text/css" href="css/switches.css" />
    <link rel="stylesheet" type="text/css" href="css/project.css" />
    
    <script src="../../../../../_common/js/requirejs/require.js" data-main="js/main" type="text/javascript"></script>
</head>
<body>
  <div id="tooltip"></div>
  <ul class="topics"></ul>
  <div class="clearfix">
  <div class="graph"></div>

  <div class="spCredit">
    Quelle: <a href='http://spiegel.de' target='_blank'> Spiegel Online</a>
  </div>

  <script id="tooltip-template" type="text/x-underscore-template">
    <h1><%= o.t %></h1>
    <% if (i) { %>
      <div class="spArticleImageBox" style="width: <%= i.width %>px; margin-bottom: 0px;">
        <img width="<%= i.width %>" height="<%= i.height %>" border="0" style="float: none;" src="http://www.spiegel.de<%= i.url %>">
        <div style="width:<%= i.width %>px;">
          <div style="text-align:right;font-size:10px;color: #666666"><%= i.credit %></div>
        </div>
      </div>
    <% } %>
  </script>

</body>
</html>
